.carrito {
  position: relative;
  padding-right: 10px;
}

.carrito:hover {
  transform: scale(1.2);
}

.carrito-icono {
  font-size: 2rem;
  color: #333333;
}

.carrito-numero {
  position: absolute;
  font-size: .7rem;
  color: white;
  top: -30%;
  left: 60%;
  background-color: #74b0bc;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 50%;
}